nav {
    background: #000;
    color: #fff;
    padding: 10px 0;
}

.nav__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;


}

.nav__links li {
    margin: 0 15px;
}

.nav__links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav__links a:hover {
    color: #77aaff;
}

.nav__links img {
    height: 50px;
    width: auto;
    vertical-align: middle;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
body {
    font-family: Arial, sans-serif;

    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
h1 {
    text-align: center;
    margin: 40px 0;
    font-family: 'Arial', sans-serif;
    color: #333;
    font-size: 36px;
    line-height: 1.5;
}
input :disabled {
    background: #f4f4f4;
    color: #777;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
    
}
form {
    background: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="file"]{
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
    cursor: pointer;
}
input[type="radio"] {
    margin: 10px 0;
}
select {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
footer {
    background: linear-gradient(45deg, #000, #333);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.5);
}

footer p {
    margin: 0;
    font-size: 14px;
}

footer a {
    color: #77aaff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #fff;
}